@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.heading {
	font-family: 'Roboto', sans-serif;
	color: white;
	text-align: center;
}

.text {
	font-family: 'Roboto', sans-serif;
	font-size: 14pt;
	color: white;
	text-align: center;
}


.banner {
	max-width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}

@media only screen and (min-width: 600px){
	.banner{
		height: 500px;
	}
}

.button {
	border: 2px solid black;
	border-radius: 10px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 15pt;
	text-align: center;
	justify-content: center;
	transition-duration: 0.3s;
	cursor: pointer;
	padding: 5px;
	display: inline-block;
	background-color: #36393e;
}

@media only screen and (min-width: 600px){
	.button {
		padding: 10px 15px;
	}
}

.button:hover {
	background-color: white;
	color: black;
}

.button-container {
	height: 75px;
	position: relative;
	/* border:red solid 1px; */
}

.button-center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.links-container {
	height: 50px;
	position: relative;
	font-size: 16pt;
	color: white;
	/* border: green solid 1px */
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #00aaff;
}

body {
	background-color: #36393e;
}