@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.pkfronters--member-list--pronouns,
.pkfronters--member-card--pronouns
{
	word-break: break-all;
}

.pkfronters--member-list--pronouns::before,
.pkfronters--member-card--pronouns::before
{
	content: '\0020(';
}

.pkfronters--member-list--pronouns::after,
.pkfronters--member-card--pronouns::after
{
	content: ')\0020';
}

.pkfronters--member-card-container
{
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
}

.pkfronters--member-card
{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	max-width: 8em;
	font-family: 'Roboto', sans-serif;
	color: #000000;
	margin: auto;
}

.pkfronters--member-card--avatar
{
	width: 100%;
	height: auto;
	margin: 0 0 0.5rem 0;
	border-radius: 4px;
	border: 4px solid black;
}

.text
{
	font-family: 'Roboto', sans-serif;
}